@media(max-width:1024px) {
    .relogio-container {
        min-height: 70vh;
    }
}

@media(max-width: 415px) {
    .relogio-digital {
        width: 21rem;
        min-height: 9rem;
    }
}

@media(max-width: 344px) {
    .relogio-digital {
        width: 19rem;
    }
}